<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Homework5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Problem2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Problem3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Problem4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Problem5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Problem6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Problem7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03264F241DB8204E00C27A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03264F3C1DBA893800C27A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03264F491DBB123B00C27A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03264F541DBB1F6800C27A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03264F5F1DBB1F7500C27A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03264F6A1DBB1F8100C27A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03264F751DBB1F8E00C27A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
